alembic==1.13.2
attrs==24.2.0
babel==2.16.0
bcrypt==4.2.0
bidict==0.23.1
blinker==1.8.2
Bootstrap-Flask==2.4.0
cachelib==0.13.0
cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
dnspython==2.6.1
eventlet==0.36.1
filelock==3.15.4
Flask==3.0.3
Flask-Admin==1.6.1
flask-babel==4.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flaskcord==0.1.70
gevent==24.2.1
greenlet==3.0.3
gunicorn==19.9.0
h11==0.14.0
httplib2==0.12.0
idna==3.7
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.22.0
msgspec==0.18.6
oauth2==1.9.0.post1
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==24.1
pipenv==2024.0.1
platformdirs==4.2.2
PyJWT==2.9.0
PySocks==1.7.1
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.3
pytz==2024.1
redis==5.0.8
requests==2.32.3
requests-oauthlib==2.0.0
selenium==4.24.0
simple-websocket==1.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.32
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.12.2
urllib3==2.2.2
uvicorn==0.30.6
virtualenv==20.26.3
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.0.3
wsproto==1.2.0
WTForms==3.1.2
zipp==3.19.2
zope.event==5.0
zope.interface==7.0.3
